@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    width: 100vw;
    background-color: #000;
    font-family: 'Dongle', sans-serif;
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bite-logo {
    width: 115px;
    margin-left: 15px;
    margin-right: 35px;
}

.bite {
    position: relative;
    top: 10px;
    filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(120deg) brightness(107%) contrast(105%);
    //filter: invert(58%) sepia(100%) saturate(5453%) hue-rotate(350deg) brightness(90%) contrast(82%);
}

.logoText {
    filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(120deg) brightness(107%) contrast(105%);
}

.footer-col1 {
    margin-right: 35px;
    .recipes-footer {
        text-decoration: none;
        color: #fff;
    }
    .videos-footer, .about-footer, .contact-footer {
        text-decoration: none;
        color: #fff;
    }
}

.footer-col2 {
    color: #fff;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 38px;
    margin-right: 15px;
    color: #fff;
}

.copyright {
    font-size: 18px;
    color: #fff;
}

@media screen and (max-width: 500px) {
    
    .footer {
        display: flex;
        flex-direction: column;
        height: 250px;
    }

    .footer-right {
        position: relative;
        top: -10px;
    }
}